/* Style for the File Details and Image Preview */
.file-details {
    display: flex;
    padding: 0;
    width: 25rem;
    height:25rem;
    border-radius: 14px;
    background: #363636;
    box-shadow:  9px -9px 18px #181818,
    -9px 9px 18px #484848;
    margin-top:10px;
    margin-right:20px;
  }
.file-details div{
    padding:10px;
}
  
  .file-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .file-details p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .image-preview {
    margin: 10px;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 200px; /* You can adjust the maximum height as needed */
    display: block;
    margin: 0 auto;
  }
  